# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LaboASDTri/.vs/LaboASDTri/v15/.suo
LaboASDTri/.vs/LaboASDTri/v15/Browse.VC.db
LaboASDTri/.vs/LaboASDTri/v15/Browse.VC.opendb
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/e0d4a9984b74b77a/MAIN.ipch
LaboASDTri/LaboASDTri.sln
LaboASDTri/LaboASDTri/LaboASDTri.vcxproj
LaboASDTri/LaboASDTri/LaboASDTri.vcxproj.filters
LaboASDTri/LaboASDTri/LaboASDTri.vcxproj.user
LaboASDTri/Debug/LaboASDTri.ilk
LaboASDTri/Debug/LaboASDTri.pdb
LaboASDTri/LaboASDTri/Debug/LaboASDTri.log
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/CL.command.1.tlog
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/CL.read.1.tlog
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/CL.write.1.tlog
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/LaboASDTri.lastbuildstate
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/link.command.1.tlog
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/link.read.1.tlog
LaboASDTri/LaboASDTri/Debug/LaboASDTri.tlog/link.write.1.tlog
LaboASDTri/LaboASDTri/Debug/vc141.idb
LaboASDTri/LaboASDTri/Debug/vc141.pdb
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/8ccac26b1279fe9d/SELECT.ipch
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/140904ceb0aa29a9/CALCUL_QSORT.ipch
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/1999f46b3aa3e57a/QSORT.ipch
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/594663c8d98a8085/CALCULSELECT.ipch
LaboASDTri/.vs/LaboASDTri/v15/ipch/AutoPCH/bf9cc75a0b0eb2a9/SELECT.ipch
